.cast__title {
	margin-top: 0;
	margin-bottom: 20px;
	padding: 5px 10px;
	background-color: #d8d8d8;
}

.cast__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.cast__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 130px;

	border: 1px solid #808080;
	border-radius: 10px;
}

.cast__pict {
	width: 130px;
	height: 195px;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.cast__name {
	margin-block: 0;
	padding: 10px 5px;

	font-size: 14px;
	font-weight: 700;
	text-align: center;

	background-color: #ffffff;
}

.cast__character {
	margin-block: 0;
	padding: 5px;

	font-size: 12px;
	text-align: center;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #d8d8d8;
}

@media screen and (min-width: 550px) {
	.cast__item {
		width: 150px;
	}

	.cast__pict {
		width: 150px;
		height: 225px;
	}
}
